@{
    ViewData["Title"] = "Home Page";
}

<h1>Alost object become quickly a found object with us</h1>

<h2>Did you lost an object you can find him in our website</h2>
<h2>Did you find a lost object, post it in our website</h2>