@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="jumbotron text-center">
        <img src="https://www.upstate.edu/universitypolice/images/lost-found-banner.jpg">
        <br/>
        <br/>
        <p style="font-size: 150%;"><b>Are you looking for a lost item or found one? You've come to the right place.</p><p style="font-size: 150%;"> Our lost and found platform is here to help you connect with the rightful owner of the item.</p><p style="font-size: 150%;"> With us reunited, a lost object becomes a found one.</b> </p>
    </div>
     <hr class="my-2">
    <div class="text-center">
        <br/>
        <h1  style="font-size:300%; font-family:Times New Roman; color:DarkCyan;">START YOUR JOUNREY NOW</h2>
        <p class="lead" style="font-size: 150%;">Create an account and join our community of users who are helping to reunite lost items with their owners</p>
        <div>
                        <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body mx-2"  style="background: #84fab0; background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)); background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))">SIGNUP</button>
                        <button type="button" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body mx-2"  style="background: #84fab0; background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1)); background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))">LOGIN</button>
        </div>
    </div>
</div>